<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dev_Banner::banner" title="Product Banner" module="Dev_Banner" sortOrder="100" parent="Magento_Catalog::catalog_categories" resource="Magento_Catalog::categories" action="banner_admin/post/index" />
    </menu>
</config>
